<div class="parent">
    <div>
    <form [formGroup]="loginForm">
    <h4>Sing up</h4>
    <input  class="form-control" type="text" placeholder="Email Address" formControlName="email"><br>
    <input class="form-control" type="text" placeholder="Password" formControlName="password">
    <div class="error" *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.invalid">
        <p *ngIf="loginForm.get('password')?.errors?.['required']">Paaword is required</p>
        <p *ngIf="loginForm.get('password')?.errors?.['pattern']">At least one uppercase,one lowercase,one special charecter, one digit</p>
    </div>
    <br>
    <input type="checkbox">
    <label>Remember Password</label>
    <br>
    <button class="btn btn-primary" (click)="submit()" >SIGN IN</button>
    <br>
    <hr>
    <button class="btn btn-success" >SIGH IN WITH GOOGLE</button>
    <br>
    <br>
    <button class="b3">SIGN IN WITH FACEBOOK</button>
    </form>
    </div>
</div>